#header {
    position:fixed;
    display:flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    background: #333;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#header {
    top:0px;
}

.logo {
    margin-top: 1rem;
    flex: 2;
}

.contacts {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    margin: 1rem;
}

.infoshit {
    margin-top: 2rem;
    color: #111827;
    gap: 2rem;
    margin: 5rem;
    display: flex;
}

#second_section {
    color: white;
    background: #5b21b6;
}

#third_section {
    background: #6b21a8;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


